.tabster {
  border: 1px solid #ccc;

  .tabster-tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;

    .tabster-tab {
      padding: 10px 20px;
      cursor: pointer;
      background-color: #f4f4f4;
      margin: 0 0 -2px;

      &:first-child {
        border-left: none;
      }

      &.active:disabled {
        border-color: #000;
        border-bottom: 2px solid white;
        cursor: default;
        color: #000;
        background-color: white;
      }
    }
  }
}
